body {
    background: #97cff2;
    background: -webkit-linear-gradient(to right, #97cff2, #63b9a2);
    background: linear-gradient(to right, #97cff2, #63b9a2);
    min-height: 100vh;
    overflow-x: hidden;
}

.shadow {
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 5px 10px 18px #888888;
}

#profile-picture {
    width: 200px;
    height: 200px;
}

/* Transition for the inital elements to fade in */
.firstfade {
    -webkit-animation: firstfade 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: firstfade 5s; /* Firefox < 16 */
    -ms-animation: firstfade 5s; /* Internet Explorer */
    -o-animation: firstfade 5s; /* Opera < 12.1 */
    animation: firstfade 5s;
}

@keyframes firstfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes firstfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes firstfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes firstfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* End initial transition */

/* Transition for the following elements to fade in */
.secondfade {
    -webkit-animation: secondfade 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: secondfade 7s; /* Firefox < 16 */
    -ms-animation: secondfade 7s; /* Internet Explorer */
    -o-animation: secondfade 7s; /* Opera < 12.1 */
    animation: secondfade 7s;
}

@keyframes secondfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes secondfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes secondfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes secondfade {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* End initial transition */