.navbar-vertical {
  min-width: 16rem;
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.page-content {
  width: calc(100% - 16rem);
  margin-left: 17rem;
  transition: all 0.3s;
}

body {
  background: #97cff2;
  background: -webkit-linear-gradient(to right, #97cff2, #63b9a2);
  background: linear-gradient(to right, #97cff2, #63b9a2);
  min-height: 100vh;
  overflow-x: hidden;
}

